	.demo{
		background-color: #111111;
		position: relative;
	}

	.demo .inner {
		display: inline-block;
	}

	.demo .variation {
		background-color: #111111;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: none;
		border-right: 1px solid #ffffff;
		box-sizing: border-box !important;
		-moz-box-sizing:border-box !important;
		cursor: pointer;
		display: inline;
		float: left;
		font-family: 'Gotham Condensed';
		position: relative;
		text-align: center;
		transition: all 0.8s ease-in-out 0s;
	}

	.demo .variation:hover {
		
	}

	.demo .variation:last-child {
		border-right: none;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay-light {
		background-color: rgba(0,0,0,0.25);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute ;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .number {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 50px;
	}

	.demo .variation .title {
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		margin-top: 0%;
	}
	.demo .variation .text {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 25px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 47%;
	}
	.big-text-left {
		position: absolute;
		left: 0;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-middle {
		position: absolute;
		left: 27%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-right {
		position: absolute;
		left: 55%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 27%;
		width: 150px;
		height: 60px;
		background: url(../images/logo.png)no-repeat center center;
		background-size: 150px 60px;
		z-index: 10;
	}

	.center {
		margin: auto;
		padding: 10px;
	}

/*
.sections-link{
	position:absolute;
	top: 75%;
	left: 0%;
	text-align:center;
	margin-top:-10px;
	width:100%;
	height:60px;
	z-index:10;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.sections-link a {
	position: relative;
	outline: none;
	color: #f15b26;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Gotham Condensed';
	font-weight:400;
	letter-spacing:2px;
	font-size:12px; 
	padding:15px 50px;
	background:rgba(0,0,0,.7);
}
.sections-link a:hover,
.sections-link a:focus {
	outline: none;
}

.sections-link .cl-effect-11 a {
	color: #f15b26;
	text-shadow: none;
	overflow: hidden;
} 

.sections-link .cl-effect-11 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	max-width: 0;
	height:12px;
	color: #fff;
	font-weight:400;
	margin-top:15px;
	margin-left:50px;
	content: attr(data-hover);
	-webkit-transition: max-width 0.8s;
	-moz-transition: max-width 0.8s;
	transition: max-width 0.8s;
}

.sections-link .cl-effect-11 a:hover::before,
.sections-link .cl-effect-11 a:focus::before {
	max-width: 100%;
}


.sections-link a:after {
	font-family: 'awesome';
	content: '\f105';
	position: absolute;
	font-size:12px;
	line-height:12px;
	width: 12px;
	height: 12px;
	top: 17px;
	left: 0px;
	color: #fff;
	opacity:0;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.sections-link:hover,
.sections-link:active {
}

.sections-link a:hover:after,
.sections-link a:active:after {
	left: 25px;
	opacity:1;
}

*/


.footer-left {
    z-index: 1000;
    color: #fff;
    position: absolute;
    left: 1%;
    float: left;
    top: 100%;
    margin-top: -75px;
    width: 100%;
    font-family: 'Gotham Condensed';
    text-shadow: 0 0 15px rgba(0,0,0,0.4);
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 13px;
    line-height: 60px;
}

#stalk {
    position: fixed;
    top: 0;
    right: 30%;
    padding: 10px;
    font-size: 20px;
    z-index: 120000001;
    color: #fff;
    font-family: 'Gotham Condensed';
    width: auto !important;
}



#footer {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: absolute;
    z-index: 10;
}

#copyright {
    position: absolute;
    bottom: 10px;
    float: left;
    left: 22px;
    font-size: 12px;
    color: #fff;
    font-family: 'Gotham Condensed';
}


/* #Media Queries
================================================== */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {
	.demo{
		background-color: #111111;
		position: relative;
	}

	.demo .inner {
		display: inline-block;
	}

	.demo .variation {
		background-color: #111111;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: none;
		border-right: 1px solid #ffffff;
		box-sizing: border-box !important;
		-moz-box-sizing:border-box !important;
		cursor: pointer;
		display: inline;
		float: left;
		font-family: 'Gotham Condensed';
		position: relative;
		text-align: center;
		transition: all 0.8s ease-in-out 0s;
	}

	.demo .variation:hover {
		
	}

	.demo .variation:last-child {
		border-right: none;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay-light {
		background-color: rgba(0,0,0,0.25);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute ;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .number {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 50px;
	}

	.demo .variation .title {
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		margin-top: 0%;
	}
	.demo .variation .text {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 25px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 47%;
	}
	.big-text-left {
		position: absolute;
		left: 0;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-middle {
		position: absolute;
		left: 27%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-right {
		position: absolute;
		left: 55%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 27%;
		width: 150px;
		height: 60px;
		background: url(../images/logo.png)no-repeat center center;
		background-size: 150px 60px;
		z-index: 10;
	}

	.center {
		margin: auto;
		padding: 10px;
	}

}

@media only screen and (max-width: 800px) {
	.demo{
		background-color: #111111;
		position: relative;
	}

	.demo .inner {
		display: inline-block;
	}

	.demo .variation {
		background-color: #111111;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: none;
		border-right: 1px solid #ffffff;
		box-sizing: border-box !important;
		-moz-box-sizing:border-box !important;
		cursor: pointer;
		display: inline;
		float: left;
		font-family: 'Gotham Condensed';
		position: relative;
		text-align: center;
		transition: all 0.8s ease-in-out 0s;
	}

	.demo .variation:hover {
		
	}

	.demo .variation:last-child {
		border-right: none;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay-light {
		background-color: rgba(0,0,0,0.25);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute ;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .number {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 50px;
	}

	.demo .variation .title {
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		margin-top: 0%;
	}
	.demo .variation .text {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 25px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 47%;
	}
	.big-text-left {
		position: absolute;
		left: 0;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-middle {
		position: absolute;
		left: 27%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-right {
		position: absolute;
		left: 55%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 27%;
		width: 150px;
		height: 60px;
		background: url(../images/logo.png)no-repeat center center;
		background-size: 150px 60px;
		z-index: 10;
	}

	.center {
		margin: auto;
		padding: 10px;
	}

}
@media only screen and (min-width: 1200px) and (max-width: 1200px) {
	.demo{
		background-color: #111111;
		position: relative;
	}

	.demo .inner {
		display: inline-block;
	}

	.demo .variation {
		background-color: #111111;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: none;
		border-right: 1px solid #ffffff;
		box-sizing: border-box !important;
		-moz-box-sizing:border-box !important;
		cursor: pointer;
		display: inline;
		float: left;
		font-family: 'Gotham Condensed';
		position: relative;
		text-align: center;
		transition: all 0.8s ease-in-out 0s;
	}

	.demo .variation:hover {
		
	}

	.demo .variation:last-child {
		border-right: none;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay-light {
		background-color: rgba(0,0,0,0.25);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute ;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .number {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 50px;
	}

	.demo .variation .title {
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		margin-top: 0%;
	}
	.demo .variation .text {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 25px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 47%;
	}
	.big-text-left {
		position: absolute;
		left: 0;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-middle {
		position: absolute;
		left: 27%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-right {
		position: absolute;
		left: 55%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 27%;
		width: 150px;
		height: 60px;
		background: url(../images/logo.png)no-repeat center center;
		background-size: 150px 60px;
		z-index: 10;
	}

	.center {
		margin: auto;
		padding: 10px;
	}

}


@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.demo{
		background-color: #111111;
		position: relative;
	}

	.demo .inner {
		display: inline-block;
	}

	.demo .variation {
		background-color: #111111;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: none;
		border-right: 1px solid #ffffff;
		box-sizing: border-box !important;
		-moz-box-sizing:border-box !important;
		cursor: pointer;
		display: inline;
		float: left;
		font-family: 'Gotham Condensed';
		position: relative;
		text-align: center;
		transition: all 0.8s ease-in-out 0s;
	}

	.demo .variation:hover {
		
	}

	.demo .variation:last-child {
		border-right: none;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay-light {
		background-color: rgba(0,0,0,0.25);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute ;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .number {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 50px;
	}

	.demo .variation .title {
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		margin-top: 0%;
	}
	.demo .variation .text {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 25px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 47%;
	}
	.big-text-left {
		position: absolute;
		left: 0;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-middle {
		position: absolute;
		left: 27%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-right {
		position: absolute;
		left: 55%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 27%;
		width: 150px;
		height: 60px;
		background: url(../images/logo.png)no-repeat center center;
		background-size: 150px 60px;
		z-index: 10;
	}

	.center {
		margin: auto;
		padding: 10px;
	}
}
	
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.demo{
		background-color: #111111;
		position: relative;
	}

	.demo .inner {
		display: inline-block;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay-light {
		background-color: rgba(0,0,0,0.25);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute ;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .number {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 50px;
	}

	.demo .variation .title {
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		margin-top: 0%;
	}
	.demo .variation .text {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 25px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 47%;
	}
	.big-text-left {
		position: absolute;
		float: left;
		left: 2%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-middle {
		position: absolute;
		float: left;
		left: 27%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-right {
		position: absolute;
		float: left;
		left: 53%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 27%;
		width: 150px;
		height: 60px;
		background: url(../images/logo.png)no-repeat center center;
		background-size: 150px 60px;
		z-index: 10;
	}

	.center {
		margin: auto;
		padding: 10px;
	}

		.demo .variation {
			border-right: 1px solid #ffffff;
			border-bottom: none !important;
		}

		.demo .variation:last-child {
			border-bottom: none;
		}

		.demo .variation .number {
			/* display: none; */
		}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.demo{
		background-color: #111111;
		position: relative;
	}

	.demo .inner {
		display: inline-block;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay-light {
		background-color: rgba(0,0,0,0.25);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute ;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .number {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 50px;
	}

	.demo .variation .title {
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		margin-top: 0%;
	}
	.demo .variation .text {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 25px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 47%;
	}
	.big-text-left {
		position: absolute;
		left: 0;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-middle {
		position: absolute;
		left: 27%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-right {
		position: absolute;
		left: 55%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 27%;
		width: 150px;
		height: 60px;
		background: url(../images/logo.png)no-repeat center center;
		background-size: 150px 60px;
		z-index: 10;
	}

	.center {
		margin: auto;
		padding: 10px;
	}

		.demo .variation {
			border-right: none !important;
			border-bottom: 1px solid #ffffff;
		}

		.demo .variation:last-child {
			border-bottom: none;
		}

		.demo .variation .number {
			/*display: none;*/
		}
}

@media only screen and (max-width: 767px) {
	.demo{
		background-color: #111111;
		position: relative;
	}

	.demo .inner {
		display: inline-block;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay-light {
		background-color: rgba(0,0,0,0.25);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute ;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .number {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		margin: 51px auto -28px;
		padding-bottom: 20px;
		width: 50px;
	}

	.demo .variation .title {
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		margin-top: -5%;
	}
	.demo .variation .text {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 25px;
		font-weight: 400;
		margin: 44px auto 70px;
		padding-bottom: 20px;
		width: 47%;
	}
	.big-text-left {
		position: absolute;
		float: left;
		left: -37%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-middle {
		position: absolute;
		float: left;
		left: 0%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-right {
		position: absolute;
		float: left;
		left: 36%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}

	.logo {
		position: absolute;
		top: 46%;
		left: 37%;
		width: 150px;
		height: 60px;
		background: url(../images/logo.png)no-repeat center center;
		background-size: 150px 60px;
		z-index: 10;
	}

	.center {
		margin: auto;
		padding: 10px;
	}

		.demo .variation {
			border-right: none !important;
			border-bottom: 1px solid #ffffff;
		}

		.demo .variation:last-child {
			border-bottom: none;
		}

		.demo .variation .number {
			/* display: none; */
		}

	}

@media only screen and (min-width: 320px) and (max-width: 479px) {
	.demo{
		background-color: #111111;
		position: relative;
	}

	.demo .inner {
		display: inline-block;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay-light {
		background-color: rgba(0,0,0,0.25);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute ;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .number {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		margin: 25px auto -32px;
		padding-bottom: 20px;
		width: 50px;
	}

	.demo .variation .title {
		color: #ffffff;
		font-size: 25px;
		font-weight: 300;
		margin-top: -13%;
	}
	.demo .variation .text {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 15px;
		font-weight: 400;
		margin: 52px auto 70px;
		padding-bottom: 20px;
		width: 47%;
		line-height: 20px;
	}
	.big-text-left {
		position: absolute;
		float: left;
		left: 0%;
		top: 15%;
		margin-top: -75px;
		width: 26%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-middle {
		position: absolute;
		float: left;
		left: 37%;
		top: 15%;
		margin-top: -75px;
		width: 26%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-right {
		position: absolute;
		float: left;
		left: 75%;
		top: 15%;
		margin-top: -75px;
		width: 26%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}

	.logo {
		position: absolute;
		top: 46%;
		left: 27%;
		width: 150px;
		height: 60px;
		background: url(../images/logo.png)no-repeat center center;
		background-size: 150px 60px;
		z-index: 10;
	}

	.center {
		margin: auto;
		padding: 10px;
	}

		.demo .variation {
			border-right: none !important;
			border-bottom: 1px solid #ffffff;
		}

		.demo .variation:last-child {
			border-bottom: none;
		}

		.demo .variation .number {
			/* display: none; */
		}
}

@media only screen and (max-width: 319px) {
	.demo{
		background-color: #111111;
		position: relative;
	}

	.demo .inner {
		display: inline-block;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay-light {
		background-color: rgba(0,0,0,0.25);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute ;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .number {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 50px;
	}

	.demo .variation .title {
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		margin-top: 0%;
	}
	.demo .variation .text {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 25px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 47%;
	}
	.big-text-left {
		position: absolute;
		left: 0;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-middle {
		position: absolute;
		left: 27%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}
	.big-text-right {
		position: absolute;
		left: 55%;
		top: 12%;
		margin-top: -75px;
		width: 100%;
		font-family: 'Gotham Condensed';
		text-shadow: 0 0 15px rgba(0,0,0,0.4);
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 25px;
		line-height: 60px;
		z-index: 200;
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 27%;
		width: 150px;
		height: 60px;
		background: url(../images/logo.png)no-repeat center center;
		background-size: 150px 60px;
		z-index: 10;
	}

	.center {
		margin: auto;
		padding: 10px;
	}
#stalk {
    position: fixed;
    top: 0;
    right: 30%;
    padding: 10px;
    font-size: 20px;
    z-index: 120000001;
    color: #fff;
    font-family: 'Gotham Condensed';
    width: auto !important;
}
		.demo .variation {
			border-right: none !important;
			border-bottom: 1px solid #ffffff;
		}

		.demo .variation:last-child {
			border-bottom: none;
		}

		.demo .variation .number {
			display: none;
		}
}
